* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

:root {
    --white: #D9D9D9;
    --background-color: #0B1422;
    --gray: #3C3C3C;
}

body {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: row;
    background-color: var(--background-color);

    overflow: hidden;
}

/*
<body>
    <div class="left-panel">
        <div class="title-outer">
            <svg class="title-svg" width="25.2" height="25.4" viewBox="0 0 106 108" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 104H102.231M9.4573 87.6281H96.7741M20.3719 87.6281V60.3416M42.2011 87.6281V60.3416M64.0303 87.6281V60.3416M85.8595 87.6281V60.3416M53.1157 27.6352L53.1561 27.5984M102.231 43.9697L64.7179 10.6243C60.6124 6.9752 58.5599 5.15071 56.2438 4.4578C54.2028 3.8474 52.0286 3.8474 49.9876 4.4578C47.6715 5.15071 45.619 6.9752 41.5137 10.6243L4 43.9697H102.231Z" stroke="#3C3C3C" stroke-width="7" stroke-linecap="round" stroke-linejoin="round"/></svg>
            <div class="title-text">Nexus Bank</div>
        </div>
        <div class="left-panel-bar">
            <div class="left-panel-bar-option-outer">
                <div class="left-panel-bar-option">
                    <svg class="left-panel-bar-option-svg" width="9" height="8" viewBox="0 0 9 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.83333 2.55556V2.24444C6.83333 1.80885 6.83333 1.59105 6.74856 1.42467C6.67401 1.27832 6.55501 1.15934 6.40867 1.08477C6.2423 1 6.02448 1 5.58889 1H2.24444C1.80885 1 1.59105 1 1.42467 1.08477C1.27832 1.15934 1.15934 1.27832 1.08477 1.42467C1 1.59105 1 1.80885 1 2.24444V2.55556M1 2.55556V5.97778C1 6.41337 1 6.63119 1.08477 6.79756C1.15934 6.94389 1.27832 7.06289 1.42467 7.13744C1.59105 7.22222 1.80885 7.22222 2.24444 7.22222H6.75556C7.19115 7.22222 7.40897 7.22222 7.57533 7.13744C7.72167 7.06289 7.84067 6.94389 7.91522 6.79756C8 6.63119 8 6.41337 8 5.97778V3.8C8 3.36441 8 3.1466 7.91522 2.98023C7.84067 2.83388 7.72167 2.7149 7.57533 2.64033C7.40897 2.55556 7.19115 2.55556 6.75556 2.55556H1ZM8 4.11111H7.22222C6.79266 4.11111 6.44444 4.45932 6.44444 4.88889C6.44444 5.31846 6.79266 5.66667 7.22222 5.66667H8" stroke="#3C3C3C" stroke-linecap="round" stroke-linejoin="round"/></svg>
                    <div class="left-panel-bar-option-text">My Account</div>
                </div>
                <div class="left-panel-bar-option">
                    <svg class="left-panel-bar-option-svg" width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_16_692)"><path d="M4.50002 8.25126C6.48823 8.25126 8.10002 6.63951 8.10002 4.65126C8.10002 2.66304 6.48823 1.05127 4.50002 1.05127C2.5118 1.05127 0.900024 2.66304 0.900024 4.65126C0.900024 6.63951 2.5118 8.25126 4.50002 8.25126Z" stroke="#3C3C3C" stroke-width="0.6" stroke-linecap="round" stroke-linejoin="round"/><path d="M4.75209 6.15959V6.55563C4.75209 6.6196 4.72668 6.68098 4.68146 6.7262C4.63621 6.77145 4.57487 6.79679 4.51089 6.79679C4.44692 6.79679 4.38558 6.77145 4.34036 6.7262C4.29511 6.68098 4.26969 6.6196 4.26969 6.55563V6.14887C4.10996 6.12262 3.95703 6.06488 3.81984 5.97898C3.68262 5.89305 3.56387 5.78066 3.4705 5.64839C3.4365 5.60523 3.41754 5.55217 3.4165 5.49723C3.41647 5.46605 3.42276 5.43513 3.43501 5.40644C3.44726 5.37778 3.4652 5.35186 3.48776 5.33033C3.51031 5.30881 3.537 5.29203 3.56621 5.28112C3.59542 5.27018 3.62655 5.26532 3.6577 5.26679C3.68862 5.26661 3.71919 5.27331 3.7472 5.28638C3.77522 5.29945 3.79997 5.31867 3.81969 5.34247C3.93486 5.49291 4.09117 5.60667 4.26969 5.67003V4.75563C3.79089 4.56843 3.5497 4.28759 3.5497 3.92399C3.55692 3.72934 3.63343 3.54366 3.76544 3.40043C3.89745 3.2572 4.07627 3.16586 4.26969 3.14282V2.74679C4.26969 2.68282 4.29511 2.62151 4.34036 2.57628C4.38558 2.53105 4.44692 2.50562 4.51089 2.50562C4.57487 2.50562 4.63621 2.53105 4.68146 2.57628C4.72668 2.62151 4.75209 2.68282 4.75209 2.74679V3.13922C4.88605 3.16021 5.01443 3.208 5.12948 3.27976C5.24454 3.35151 5.34393 3.44572 5.42169 3.55679C5.456 3.59728 5.47623 3.64787 5.47929 3.70083C5.48027 3.73168 5.47501 3.76239 5.46389 3.79119C5.45273 3.81999 5.43591 3.84627 5.41442 3.86845C5.39293 3.89062 5.36719 3.90819 5.33875 3.92021C5.31035 3.93224 5.27978 3.93843 5.24889 3.93839C5.21664 3.93821 5.18481 3.93109 5.15562 3.91741C5.12642 3.90373 5.1005 3.88385 5.07969 3.85923C4.99387 3.75199 4.88069 3.66994 4.75209 3.62167V4.43167L4.84209 4.46759C5.29929 4.64759 5.58369 4.90683 5.58369 5.31723C5.57837 5.53712 5.48934 5.74667 5.33483 5.9032C5.18031 6.05973 4.97191 6.15139 4.75209 6.15959ZM4.26969 4.22283V3.63599C4.21159 3.65705 4.16159 3.69586 4.1267 3.74691C4.09185 3.79792 4.07385 3.85862 4.07529 3.92039C4.07468 3.98426 4.09279 4.04693 4.12731 4.10065C4.16187 4.15439 4.21134 4.19687 4.26969 4.22283ZM5.05809 5.32803C5.05809 5.15523 4.93929 5.05083 4.75209 4.96803V5.68803C4.83795 5.67503 4.91618 5.6314 4.97241 5.56527C5.02865 5.4991 5.0591 5.41486 5.05809 5.32803Z" fill="#3C3C3C"/></g><defs><clipPath id="clip0_16_692"><rect width="9" height="9" fill="white"/></clipPath></defs></svg>
                    <div class="left-panel-bar-option-text">My Savings</div>
                </div>
                <div class="left-panel-bar-option">
                    <svg class="left-panel-bar-option-svg" width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.5 2.55556V7.61111M4.5 2.55556H3.125C2.9224 2.55556 2.72811 2.47361 2.58485 2.32775C2.44159 2.18189 2.36111 1.98406 2.36111 1.77778C2.36111 1.5715 2.44159 1.37367 2.58485 1.22781C2.72811 1.08194 2.9224 1 3.125 1C4.19445 1 4.5 2.55556 4.5 2.55556ZM4.5 2.55556H5.87499C6.07761 2.55556 6.27189 2.47361 6.41516 2.32775C6.55839 2.18189 6.63889 1.98406 6.63889 1.77778C6.63889 1.5715 6.55839 1.37367 6.41516 1.22781C6.27189 1.08194 6.07761 1 5.87499 1C4.80555 1 4.5 2.55556 4.5 2.55556ZM1.77778 4.5H7.22222V6.75556C7.22222 7.19115 7.22222 7.40897 7.13744 7.57533C7.06289 7.72167 6.94389 7.84067 6.79756 7.91522C6.63119 8 6.41337 8 5.97778 8H3.02222C2.58662 8 2.36883 8 2.20245 7.91522C2.0561 7.84067 1.93712 7.72167 1.86255 7.57533C1.77778 7.40897 1.77778 7.19115 1.77778 6.75556V4.5ZM1.62222 4.5H7.37778C7.59559 4.5 7.70448 4.5 7.78767 4.45761C7.86086 4.42032 7.92032 4.36086 7.95761 4.28767C8 4.20448 8 4.09559 8 3.87778V3.17778C8 2.95998 8 2.85108 7.95761 2.76789C7.92032 2.69472 7.86086 2.63523 7.78767 2.59794C7.70448 2.55556 7.59559 2.55556 7.37778 2.55556H1.62222C1.40442 2.55556 1.29552 2.55556 1.21234 2.59794C1.13916 2.63523 1.07967 2.69472 1.04238 2.76789C1 2.85108 1 2.95998 1 3.17778V3.87778C1 4.09559 1 4.20448 1.04238 4.28767C1.07967 4.36086 1.13916 4.42032 1.21234 4.45761C1.29552 4.5 1.40442 4.5 1.62222 4.5Z" stroke="#3C3C3C" stroke-linecap="round" stroke-linejoin="round"/></svg>
                    <div class="left-panel-bar-option-text">Send Money</div>
                </div>
            </div>
            <div class="left-panel-bottom-outer">
                <div class="profile-picture"></div>
                <div class="username">USERNAME</div>
            </div>
        </div>
    </div>
*/
.left-panel {
    width: 22vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    transition: 0.5s;
}
.title-outer {
    height: 10%;
    width: 95%;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}
.title-outer:hover > .title-text {
    border-bottom: 5px solid var(--white);
}
.title-svg {
    height: 50%;
    aspect-ratio: 1/1;
    stroke: var(--white);
    margin-right: 5%;
}
.title-text {
    font-size: xx-large;
    font-weight: bold;
    color: var(--white);
    letter-spacing: 0.5%;

    border-bottom: 0px solid var(--white);
    transition: 0.1s;
}


.left-panel-bar {
    height: 90%;
    width: 95%;

    background-color: var(--white);
    border-top-left-radius: 2.5vh;
    border-top-right-radius: 2.5vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.left-panel-bar-option-outer {
    width: 100%;
    height: fit-content;

    margin-top: 13%;
}
.left-panel-bar-option {
    margin-top: 2%;

    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    height: 5vh;

    cursor: pointer;
    transition: 0.3s;
    background-color: transparent;
}
.left-panel-bar-option:hover {
    background-color: rgba(255, 255, 255, 0.5);
}
.left-panel-bar-option-svg {
    height: 50%;
    aspect-ratio: 1/1;
    stroke: var(--gray);
    margin-right: 5%;
    margin-left: 5%;
}
.left-panel-bar-option-text {
    font-size: larger;
    color: var(--gray);
    font-weight: bold;
}



/*
    <div class="middle-panel middle-panel-account">
        <div class="center-panel">
            <div class="center-panel-top">
                <div class="center-panel-top-text">My Account:</div>
            </div>
            <div class="center-panel-bottom">
                <div class="center-panel-bottom-text">
                    ₪ <span class="account-money">1,507</span>
                </div>
            </div>
        </div>
    </div>
*/
.middle-panel {
    width: 64vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 1s;
    translate: 0 0;
}
.center-panel {
    width: 50%;
    height: 20%;

    background-color: var(--white);
    border-radius: 2.5vh;
}
.center-panel-top {
    width: 100%;
    height: 20%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.center-panel-top-text {
    margin-left: 2%;
    font-size: medium;
    font-weight: bold;
    letter-spacing: 0.5px;
    color: var(--gray);
}
.center-panel-bottom {
    width: 100%;
    height: 80%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.center-panel-bottom-text {
    font-size: xx-large;
    letter-spacing: 2px;
    font-weight: bold;
    color: var(--gray);

    margin-bottom: 5%;
}



/*
    <div class="middle-panel middle-panel-savings" style="display: none">
        <div class="center-outer">
            <div class="interest-block">
                <div class="interest-block-panel-top">
                    <div class="interest-block-panel-top-text">Interest:</div>
                </div>
                <div class="interest-block-panel-bottom">
                    <div class="interest-block-panel-bottom-text">
                        <span class="interest-percent">1.5</span>%
                    </div>
                </div>
            </div>
            <div class="savings-block">
                <div class="savings-block-panel-top">
                    <div class="savings-block-panel-top-text">My Savings:</div>
                </div>
                <div class="savings-block-panel-bottom">
                    <div class="savings-block-panel-bottom-text">
                        ₪ <span class="savings-money">1,507</span>
                    </div>
                </div>
            </div>
            <div class="bottom-block">
                <div class="deposit-block">deposit</div>
                <input type="text" class="amount-block" placeholder="Amount...">
                <div class="withdraw-block">withdraw</div>
            </div>
        </div>
    </div>
*/
.center-outer {
    width: 60%;
    aspect-ratio: 3/1.6;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.interest-block {
    width: 50%;
    height: 27.5%;

    background-color: var(--white);
    border-radius: 1vh;
}


.savings-block {
    width: 100%;
    height: 47.5%;

    background-color: var(--white);
    border-radius: 2vh;

    display: flex;
    flex-direction: column;
}


.bottom-block {
    width: 100%;
    height: 18%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.deposit-block, .withdraw-block {
    width: 25%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--white);
    border-radius: 1vh;

    cursor: pointer;
    letter-spacing: 0.8px;
    transition: 0.2s;
}
.deposit-block:hover, .withdraw-block:hover {
    letter-spacing: 1.5px;
    translate: 0 -2px;
}
input.amount-block {
    width: 45%;
    height: 70%;
    
    border-radius: 0.5vh;
    border: none;
    padding: 15px;

    background-color: rgba(255, 255, 255, 0.8);
    color: var(--gray);
    font-weight: bold;
}

.savings-block-panel-top {
    width: 100%;
    height: 20%;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    margin-left: 10px;
    font-weight: bold;
    color: var(--gray);
}
.savings-block-panel-bottom {
    width: 100%;
    height: 80%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    justify-content: center;

    font-size: xx-large;
    font-weight: bold;
    color: var(--gray);

    translate: 0 -10%;
}

.interest-block-panel-top {
    width: 100%;
    height: 30%;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    font-size: small;

    margin-left: 10px;
    font-weight: bold;
    color: var(--gray);
}
.interest-block-panel-bottom {
    width: 100%;
    height: 70%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    justify-content: center;

    font-size: x-large;
    font-weight: bold;
    color: var(--gray);

    translate: 0 -20%;
}

/*
    <div class="middle-panel middle-panel-gift" style="display: none">
        <!-- DO LATER WHEN MULTIPLAYER IS UP -->
    </div>
*/





/*
    <div class="right-panel">
        <div class="right-panel-bar">
            <div class="right-panel-title">Want to earn more?</div>
            
            <div class="right-panel-bar-option">
                <svg class="right-panel-bar-option-svg" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.25 6.92308C10.5536 6.92308 9.91071 7.09615 9.32143 7.5H8.03571V6.92308C8.03571 5.30769 6.85714 4.03846 5.35714 4.03846H3.75C2.83929 4.03846 2.14286 3.28846 2.14286 2.30769V0.576923C2.14286 0.230769 1.92857 0 1.60714 0C1.28571 0 1.07143 0.230769 1.07143 0.576923V2.30769C1.07143 3.92308 2.25 5.19231 3.75 5.19231H5.35714C6.26786 5.19231 6.96429 5.94231 6.96429 6.92308V7.5H5.67857C5.08929 7.09615 4.44643 6.92308 3.75 6.92308C1.66071 6.92308 0 8.71154 0 10.9615C0 13.2115 1.66071 15 3.75 15C4.44643 15 5.08929 14.8269 5.67857 14.4231H9.32143C9.91071 14.8269 10.5536 15 11.25 15C13.3393 15 15 13.2115 15 10.9615C15 8.71154 13.3393 6.92308 11.25 6.92308ZM4.82143 11.5385H4.28571V12.1154C4.28571 12.4615 4.07143 12.6923 3.75 12.6923C3.42857 12.6923 3.21429 12.4615 3.21429 12.1154V11.5385H2.67857C2.35714 11.5385 2.14286 11.3077 2.14286 10.9615C2.14286 10.6154 2.35714 10.3846 2.67857 10.3846H3.21429V9.80769C3.21429 9.46154 3.42857 9.23077 3.75 9.23077C4.07143 9.23077 4.28571 9.46154 4.28571 9.80769V10.3846H4.82143C5.14286 10.3846 5.35714 10.6154 5.35714 10.9615C5.35714 11.3077 5.14286 11.5385 4.82143 11.5385ZM10.7679 9.57692C10.8214 9.51923 10.8214 9.46154 10.875 9.40385C11.0357 9.23077 11.25 9.17308 11.4643 9.28846C11.5179 9.34615 11.5714 9.34615 11.625 9.40385C11.6786 9.46154 11.7321 9.51923 11.7321 9.57692C11.7321 9.63462 11.7857 9.75 11.7857 9.80769C11.7857 9.86538 11.7857 9.98077 11.7321 10.0385C11.6786 10.0962 11.6786 10.1538 11.625 10.2115C11.5714 10.2692 11.5179 10.3269 11.4643 10.3269C11.4107 10.3846 11.3036 10.3846 11.25 10.3846C11.0893 10.3846 10.9821 10.3269 10.875 10.2115C10.8214 10.1538 10.7679 10.0962 10.7679 10.0385C10.7679 9.98077 10.7143 9.86538 10.7143 9.80769C10.7143 9.75 10.7143 9.63462 10.7679 9.57692ZM10.1786 11.5385C10.0179 11.5385 9.91071 11.4808 9.80357 11.3654C9.75 11.3077 9.69643 11.25 9.69643 11.1923C9.69643 11.1346 9.64286 11.0192 9.64286 10.9615C9.64286 10.7885 9.69643 10.6731 9.80357 10.5577C10.0179 10.3269 10.3393 10.3269 10.5536 10.5577L10.6071 10.6154C10.6071 10.6731 10.6607 10.6731 10.6607 10.7308C10.6607 10.7885 10.6607 10.7885 10.7143 10.8462C10.7143 10.9038 10.7143 10.9038 10.7143 10.9615C10.7143 11.1346 10.6607 11.25 10.5536 11.3654C10.4464 11.4808 10.3393 11.5385 10.1786 11.5385ZM11.7857 12.2308C11.7857 12.2885 11.7857 12.2885 11.7321 12.3462C11.7321 12.4038 11.6786 12.4038 11.6786 12.4615L11.625 12.5192C11.5714 12.5769 11.5179 12.6346 11.4643 12.6346C11.4107 12.6923 11.3036 12.6923 11.25 12.6923C11.0893 12.6923 10.9821 12.6346 10.875 12.5192C10.7679 12.4038 10.7143 12.2885 10.7143 12.1154C10.7143 11.9423 10.7679 11.8269 10.875 11.7115C11.0357 11.5385 11.25 11.4808 11.4643 11.5962C11.5179 11.6538 11.5714 11.6538 11.625 11.7115C11.7321 11.8269 11.7857 11.9423 11.7857 12.1154C11.7857 12.1731 11.7857 12.1731 11.7857 12.2308ZM12.8036 11.1923C12.75 11.25 12.75 11.3077 12.6964 11.3654C12.6429 11.3654 12.6429 11.4231 12.6429 11.4231C12.5893 11.4231 12.5893 11.4808 12.5357 11.4808C12.4821 11.4808 12.4821 11.4808 12.4286 11.5385C12.375 11.5385 12.375 11.5385 12.3214 11.5385C12.1607 11.5385 12.0536 11.4808 11.9464 11.3654C11.8929 11.3077 11.8393 11.25 11.8393 11.1923C11.8393 11.1346 11.7857 11.0192 11.7857 10.9615C11.7857 10.9038 11.7857 10.7885 11.8393 10.7308C11.8929 10.6731 11.8929 10.6154 11.9464 10.5577C12.0536 10.4423 12.2679 10.3846 12.4286 10.3846C12.4821 10.3846 12.4821 10.3846 12.5357 10.4423C12.5893 10.4423 12.5893 10.5 12.6429 10.5L12.6964 10.5577C12.75 10.6154 12.8036 10.6731 12.8036 10.7308C12.8036 10.7885 12.8571 10.9038 12.8571 10.9615C12.8571 11.0192 12.8571 11.1346 12.8036 11.1923Z" fill="#3C3C3C"/></svg>
                <div class="right-panel-bar-option-text">My Account</div>
            </div>
        </div>
        <div class="back-outer">
            <svg class="back-svg" width="44.8" height="44.8" fill="#3C3C3C" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52" enable-background="new 0 0 52 52" xml:space="preserve" transform="matrix(-1, 0, 0, -1, 0, 0)rotate(180)"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M48.6,23H15.4c-0.9,0-1.3-1.1-0.7-1.7l9.6-9.6c0.6-0.6,0.6-1.5,0-2.1l-2.2-2.2c-0.6-0.6-1.5-0.6-2.1,0 L2.5,25c-0.6,0.6-0.6,1.5,0,2.1L20,44.6c0.6,0.6,1.5,0.6,2.1,0l2.1-2.1c0.6-0.6,0.6-1.5,0-2.1l-9.6-9.6C14,30.1,14.4,29,15.3,29 h33.2c0.8,0,1.5-0.6,1.5-1.4v-3C50,23.8,49.4,23,48.6,23z"></path> </g></svg>
            <div class="back-text">Back</div>
        </div>
    </div>
</body>
*/
.right-panel {
    width: 22vw;
    height: 100vh;

    transition: 0.5s;
}
.right-panel-title {
    font-size: x-large;
    font-weight: bold;
    color: var(--gray);
    letter-spacing: 0.5%;
    transition: 0.1s;

    margin-top: 10%;
    width: 100%;
    text-align: center;
}


.right-panel-bar {
    height: 90%;
    width: 95%;

    background-color: var(--white);
    border-bottom-left-radius: 2.5vh;
    border-bottom-right-radius: 2.5vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.right-panel-bar-option {
    margin-top: 10%;

    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    height: 5vh;

    cursor: pointer;
    transition: 0.3s;
    background-color: transparent;
}
.right-panel-bar-option:hover {
    background-color: rgba(255, 255, 255, 0.5);
}
.right-panel-bar-option-svg {
    height: 50%;
    aspect-ratio: 1/1;
    margin-right: 5%;
    margin-left: 5%;
}
.right-panel-bar-option-text {
    font-size: larger;
    color: var(--gray);
    font-weight: bold;
}

.back-outer {
    display: flex;
    flex-direction: row;

    width: 95%;
    height: 10%;

    justify-content: center;
    align-items: center;

    cursor: pointer;
}
.back-svg {
    height: 50%;
    aspect-ratio: 1/1;
    fill: var(--white);
    margin-right: 5%;
}
.back-text {
    font-size: xx-large;
    font-weight: bold;
    color: var(--white);
    letter-spacing: 0.5%;

    border-top: 0px solid var(--white);
    transition: 0.1s;
}

.back-outer:hover .back-text {
    border-top: 5px solid var(--white);
}